<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading"><a href="{{ site.aa-url }}">Learn about App Academy</a></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <p class="text">{{ site.contact-desc }}</p>
        <ul class="contact-list">
          <li><a href="mailto:{{ site.contact-email }}">{{ site.contact-email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">

      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
